/* eslint-disable react/prop-types */

import React from 'react';
import { registerBlockType } from '@wordpress/blocks';
import { __ } from '@wordpress/i18n';
import { RichText, InspectorControls } from '@wordpress/block-editor';
import { PanelBody, PanelRow } from '@wordpress/components';
import styles from './backend.module.scss';
import ArrayItems from '../components/ArrayItems';

const edit = (props) => {
  const {
    attributes,
    setAttributes,
    className,
  } = props;

  return (
    <div className={className}>
      <h3>
        {__('{{Name}}', '{{slug}}')}
      </h3>
      <RichText
        tagName="h3"
        onChange={title => setAttributes({ title })}
        value={item.title}
        placeholder={__('title', '{{slug}}')}
      />
      <InspectorControls>
        <PanelBody>
          <PanelRow>
            <div>
              <p>{__('Nápověda k bloku', '{{slug}}')}</p>
            </div>
          </PanelRow>
        </PanelBody>
      </InspectorControls>
    </div>
  );
};

const save = () => null;

// https://developer.wordpress.org/block-editor/developers/block-api/block-registration/
registerBlockType('{{namespace}}/{{slug}}', {
  title: __('{{Name}}', '{{namespace}}'),
  icon: 'grid-view',
  category: '{{namespace}}',
  edit,
  save,
});

