<?php

namespace {{Namespace}}\Blocks;

use {{Namespace}}\Plugin;
use Wpify\Core\AbstractBlock;

/** @property Plugin $plugin */
class {{Name}}Block extends AbstractBlock
{
  public function name(): string
  {
    return '{{namespace}}/{{slug}}';
  }

  public function attributes(): array
  {
    return [
      'title' => [
        'type' => 'string',
        'default' => null,
      ],
    ];
  }

  public function register(): void
  {
    register_block_type($this->name(), [
      'attributes'      => $this->attributes(),
      'render_callback' => [$this, 'render'],
      'editor_script'   => $this->plugin->get_assets()->register_manifest_asset('block-{{slug}}-backend.js'),
      'editor_style'    => $this->plugin->get_assets()->register_manifest_asset('block-{{slug}}-backend.css'),
      'script'          => $this->plugin->get_assets()->register_manifest_asset('block-{{slug}}-frontend.js'),
      'style'           => $this->plugin->get_assets()->register_manifest_asset('block-{{slug}}-frontend.css'),
    ]);
  }

  public function render($block_attributes, $content): string
  {
    $attributes = $this->parse_attributes($block_attributes);
    ob_start();
    ?>
    <div class="{{namespace}}-block-{{slug}}">
      <pre><?php var_dump(['attributes' => $attributes, 'content' => $content]); ?></pre>
    </div>
    <?php
    return ob_get_clean();
  }
}
