<?php

namespace {{Namespace}}\Cpt;

use Wpify\Core\AbstractPostType;
use {{Namespace}}\Factories\Cmb2FieldsFactory;
use {{Namespace}}\Factories\CarbonFieldsFactory;
use {{Namespace}}\Models\{{Name}}Model;

class {{Name}}PostType extends AbstractPostType
{
  public const NAME = '{{name}}';

  public function post_type_args(): array
  {
    $args = [
      'labels'             => $this->get_generic_labels('{{Name}}', '{{Name}}'),
      'description'        => __('Description of {{Name}}.', '{{namespace}}'),
      'public'             => true,
      'publicly_queryable' => true,
      'show_ui'            => true,
      'show_in_menu'       => true,
      'show_in_rest'       => true,
      'query_var'          => true,
      'rewrite'            => ['slug' => __('{{name}}', '{{namespace}}')],
      'capability_type'    => 'post',
      'has_archive'        => true,
      'hierarchical'       => false,
      'menu_position'      => null,
      'supports'           => ['title', 'editor', 'author', 'thumbnail', 'excerpt'],
    ];

    return $args;
  }

  public function post_type_name(): string
  {
    return $this::NAME;
  }

  public function model(): string
  {
    return {{Name}}Model::class;
  }

  public function custom_fields()
  {
  	return [];
  }

//  public function custom_fields_factory(): string
//  {
//    return Cmb2FieldsFactory::class;
//    or
//    return CarbonFieldsFactory::class;
//  }
}
