<?php

namespace {{Namespace}}\Repositories;

use Wpify\Core\AbstractPostTypeRepository;
use {{Namespace}}\Cpt\{{Name}}PostType;

/**
 * @property Plugin $plugin
 */
class {{Name}}Repository extends AbstractPostTypeRepository
{
  public function post_type(): {{Name}}PostType
  {
    return $this->plugin->get_cpt({{Name}}PostType::class);
  }
}
