<?php

namespace {{Namespace}}\Repositories;

use Wpify\Core\AbstractTaxonomyRepository;
use {{Namespace}}\Taxonomies\{{Name}}Taxonomy;

/**
 * @property Plugin $plugin
 */
class {{Name}}Repository extends AbstractTaxonomyRepository
{
  public function taxonomy(): {{Name}}Taxonomy
  {
    return $this->plugin->get_taxonomy({{Name}}Taxonomy::class);
	}
}
