<?php

namespace {{Namespace}}\Taxonomies;

use Wpify\Core\AbstractTaxonomy;
use {{Namespace}}\Cpt\{{cpt}}PostType;
use Wpify\Core\TermModel;

class {{Name}}Taxonomy extends AbstractTaxonomy
{
  public const NAME = '{{taxonomy_slug}}';

  public function taxonomy_args(): array
  {
    $args = [
      'labels'             => $this->get_generic_labels(
        __('{{Name}}', '{{namespace}}'),
        __('{{Name}}', '{{namespace}}')
      ),
      'hierarchical'       => true,
      'public'             => true,
      'show_ui'            => true,
      'show_in_rest'       => true,
      'show_in_nav_menus'  => true,
      'show_admin_columns' => true,
      'show_tagcloud'      => true,
    ];

    return $args;
  }

  public function taxonomy_name(): string
  {
    return $this::NAME;
  }

  public function model(): string
  {
    return TermModel::class;
  }

  public function post_type(): string
  {
    return {{cpt}}PostType::class;
  }
}
